In [1]:
#1. Write a program to reverse a string.
s= 'venkatesh'
s1 =s[::-1]
print(s1)

hsetaknev

In [11]:
#2.Check if a string is a palindrome.
def is_palindrome(n):
    n = n.lower()
    n = ''.join(e  for e in n if n.isalnum())
    return n == n[::-1]

print(is_palindrome("Atta"))
print(is_palindrome("Love"))
print(is_palindrome("AMA"))

True
False
True

In [13]:
#3. Convert a string to uppercase.
s= str(input("Enter the name:"))
s1= s.upper()
print(s1)

Enter the name: venkatesh

VENKATESH

In [14]:
#4. Convert a string to lowercase.
s= str(input("Enter the name:"))
s1= s.lower()
print(s1)

Enter the name: Good luck

good luck

In [21]:
#5. Count the number of vowels in a string.
def count_vowels(string):
    vowel_count = 0
    string = string.lower()
    vowels = set("aeiou")
    
    for char in string:
        if char in vowels:
            
            vowel_count +=1
    return vowel_count

print(count_vowels("Usha"))
print(count_vowels("Chandra BOse"))

2
4

In [33]:
#6. Count the number of consonants in a string.
def count_consonants(string1):
    consonants_count =0
    string1 = string1.lower()
    consonants =set( "bcdfghjklmnopqrstvwxyz")
    for char in string1:
        if char in consonants:
            consonants_count+=1
    return consonants_count

print(count_consonants("subhash chandra bose"))

13

In [102]:
#7. Remove all whitespaces from a string
v= '    penalty goal  '
v1= v.replace(' ','')
print(v1)

penaltygoal

In [96]:
#8. Find the length of a string without using the `len()` function.
n = 'venkatesh Is Python learner'
def find_Len(n):
    count = 0
    for i in n:
        count += 1
    return count
print(find_Len(n))

27

In [101]:
#9. Check if a string contains a specific word.
n ='venkatesh Is Python learner'
if 'venkatesh' in n:
    print(True)
else:
    print(False)

True

In [11]:
#10. Replace a word in a string with another word.
r= 'Rahul has a cricket kit'
r1 = r.replace('cricket','Hockey')
print(r1)

Rahul has a Hockey kit

In [27]:
#11 Count the occurrences of a word in a string.
s = "This is a sample sentence. This sentence contains the word 'sample' multiple times."
s1 = s.count("sentence")
s1

2

In [28]:
#12. Find the first occurrence of a word in a string.
s = "This is an example sentence. This sentence contains the word example."

s1 = s.find('example')
print(s1)

11

In [31]:
#13. Find the last occurrence of a word in a string.
s  = "This is an example sentence. This sentence contains the word example."

s1 = s.rfind('example')
print(s1)

61

In [32]:
#14 . Split a string into a list of words.
s = 'This is my book and I love to read in my own bullish writing'
s1 = s.split(' ') # if you keep , in split, you will get full sentence
print(s1)

['This', 'is', 'my', 'book', 'and', 'I', 'love', 'to', 'read', 'in', 'my', 'own', 'bullish', 'writing']

In [62]:
#15. Join a list of words into a string.
l1 = ['This', 'is', 'my', 'book', 'and', 'I', 'love', 'to', 'read', 'in', 'my', 'own', 'bullish', 'writing']
print (' '.join(l1))

This is my book and I love to read in my own bullish writing

In [86]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
s = 'This is my book and I love to read in my own bullish writing'

print(s.replace(' ','_'))

This_is_my_book_and_I_love_to_read_in_my_own_bullish_writing

In [34]:
#17. Check if a string starts with a specific word or phrase.
s = 'This is my book and I love to read in my own bullish writing'
print(s.startswith('This'))

True

In [36]:
#18. Check if a string ends with a specific word or phrase
s ='This is my book and I love to read in my own bullish writing'
print(s.endswith('writing'))

True

In [90]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
p = 'hello world'
print(p.title())

Hello World

In [102]:
#20. Find the longest word in a string.
s = 'This is my book and I love to read in my own bullish writings'
s1 = s.split()
print(max(s1, key = len))

writings

In [109]:
#21. Find the shortest word in a string.
s = 'This is my book,love to read in my own bullish writings of p'
s1 = s.split()
print(min(s1, key = len))

p

In [15]:
#22. Reverse the order of words in a string.
p = 'Love of my life'
p1= p.split()[::-1]
l =[]
for i in p1:
    l.append(i)
print(" ".join(l))

life my of Love

In [41]:
#23. Check if a string is alphanumeric
s = 'ThisismybookandIloveto readinmy231ownbullishwritings'

if s.isalnum():
        print('s is aplhanumerc ',True)
else:
    print('s is not aplhanumerc ', False)

s is not aplhanumerc  False

In [1]:
#24. Extract all digits from a string
v= 'venkatesh123ravi321'

for i in v:
    if(i.isdigit()):
        print(i,end="")

123321

In [43]:
#25. Extract all alphabets from a string
v= 'venkatesh123Ravi'

for i in v:
    if(i.isalpha()):
        print(i,end="")

venkateshRavi

In [5]:
#26. Count the number of uppercase letters in a string.
v1 = 'VenkAtesG LoveS'
def count_uppercase(v1):
    uppercase_count = sum(1 for char in v1 if char.isupper())
    return uppercase_count

count_uppercase(v1)

5

In [6]:
#27. Count the number of lowercase letters in a string.
v1 = 'VenkAtesG LoveS'
def count_lowercase(v1):
    lowercase_count =sum(1 for char in v1 if char.islower())
    return lowercase_count

count_lowercase(v1)

9

In [120]:
#28. Swap the case of each character in a string.
str1= 'Venkatesh'
str1.swapcase()

'vENKATESH'

In [12]:
#29. Remove a specific word from a string.
s ='This is my book and I love to read in my own bullish writings'
def remove_word(s,word_removal):
    words =s.split() #split the s string in to a list of words
    filtered_words =[word for word in words if word!=word_removal] #create a new list excluding the word to remove
    modified_string= ' '.join(filtered_words) #join the filtered words back in to a string
    return modified_string

s ='This is my book and I love to read in my own bullish writings'
word_removal = 'bullish'
remove_word(s,word_removal)

'This is my book and I love to read in my own writings'

In [20]:
#30. Check if a string is a valid email address.

import re #Import the regular expression module
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern,email):
        return True
    else:
        return False


    
#Driver code
email1 = "venkateshwarasingh486@gmail.in"
email2 ="venkateshwarasingh-yahoo.com"
result1 =is_valid_email(email1)
result2 =is_valid_email(email2)
print(result1)
print(result2)

True
False

In [22]:
#31. Extract the username from an email address string.
def extract_username(email):
    username =email.split('@')[0] #spilt the email address at "@" and take the first part
    return username

#driver code:
email ='venkateshwarasingh@gmail.com'
extract_username(email)

'venkateshwarasingh'

In [24]:
#32. Extract the domain name from an email address string.
def extract_domain(email):
    domain = email.split('@')[1]  # Split the email address at "@" and take the last part
    return domain

#driver code:
email ='venkateshwarasingh@gmail.com'
extract_domain(email)

'gmail.com'

In [6]:
#33. Replace multiple spaces in a string with a single space.
s = 'This is my book     and I love to read     in my own bullish writings'
s1 = s.replace('    ','')
s1

'This is my book and I love to read in my own bullish writings'

In [25]:
#34. Check if a string is a valid URL.
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result =urlparse(url)
        return all([result.scheme, result.netloc]) #check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.amazon.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

In [26]:
#35. Extract the protocol (http or https) from a URL string.
def extract_protocol(url):
    #find the index fo the first occurrence of "://"
    protocol_end = url.find("://")
    
    if protocol_end != -1:
        #Extract the protocol form the url
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

    
# Example URL strings
url1 = "https://www.example.com"
url2 = "tcp://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: tcp
Protocol 3: ftp

In [31]:
#36. Find the frequency of each character in a string.

def character_frequency(string):
    frequency ={} # Create an empty dictionary to store character frequencies
    for char in string:
        if char in frequency:
            frequency[char] += 1 # Increment the frequency count if the character is already in the dictionary
        else:
            frequency[char] =1  # Initialize the frequency count to 1 if the character is not in the dictionary
    return frequency

#Driver code:
string = 'I love to read in my own bullish writings'
# Calculate character frequencies
char_freq = character_frequency(string)
# Print character frequencies
for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'I', Frequency: 1
Character: ' ', Frequency: 8
Character: 'l', Frequency: 3
Character: 'o', Frequency: 3
Character: 'v', Frequency: 1
Character: 'e', Frequency: 2
Character: 't', Frequency: 2
Character: 'r', Frequency: 2
Character: 'a', Frequency: 1
Character: 'd', Frequency: 1
Character: 'i', Frequency: 4
Character: 'n', Frequency: 3
Character: 'm', Frequency: 1
Character: 'y', Frequency: 1
Character: 'w', Frequency: 2
Character: 'b', Frequency: 1
Character: 'u', Frequency: 1
Character: 's', Frequency: 2
Character: 'h', Frequency: 1
Character: 'g', Frequency: 1

In [36]:
#37. Remove all punctuation from a string.

import string

def remove_punctuation(string1):
    #Create a translation table to remove punctuation
    translator = str.maketrans("","",string.punctuation)
    
    #Use the translation table to remove pinctuation from the string1
    clean_string = string1.translate(translator)
    
    return clean_string

# Example string with punctuation
string1 = "My name is rahul & Rahul's best friend's are ram, Ravi!"

# Remove punctuation
cleaned_str = remove_punctuation(string1)

# Print the cleaned string
print("Original string:",string1)
print("Cleaned string:", cleaned_str)

Original string: My name is rahul & Rahul's best friend's are ram, Ravi!
Cleaned string: My name is rahul  Rahuls best friends are ram Ravi

In [7]:
#38. Check if a string contains only digits.
s = 'Thisis678'

print(s.isdigit())

False

In [9]:
#39. Check if a string contains only alphabets.
s = 'Thisis'
print(s.isalpha())

True

In [27]:
#40. Convert a string to a list of characters.
s = 'linkedlist'
t = list(s)
t

['l', 'i', 'n', 'k', 'e', 'd', 'l', 'i', 's', 't']

In [6]:
#41. Check if two strings are anagrams. anagram= arranging letters of word to another word with same letters
def are_anagrams(str1,str2):
    # Remove spaces and convert the strings to lower case for accurate comparison
    str1= str1.replace(' ','').lower()
    str2 = str2.replace(" ","").lower()
    
    #sort the character in both the strings and compare
    return sorted(str1) == sorted(str2)

print(are_anagrams('tips','pits'))
print(are_anagrams('silent','listen'))
print(are_anagrams('tata','atta'))
print(are_anagrams('love','hate',))

True
True
True
False

In [47]:
#42. Encode a string using a Caesar cipher.
#A Caesar cipher is a simple encryption technique where each letter in the plaintext is shifted a certain number of places down or up the alphabet. Here's a Python code snippet to encode a string using a Caesar cipher:
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text


print(caesar_cipher('myloveof 2024!',3))

pboryhri 2024!

In [48]:
#43. Decode a Caesar cipher encoded string.
def caesar_cipher_decoder(text,shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """
    # Initialize an empty string to store the decoded text
    decoded_text =""
    
    #Loop through each character in the input text
    for char in text:
        #check if the characte is an aplhabetic character
        if char.isalpha():
            #calculate the decoded charged using the shift value
            decoded_char = chr((ord(char)-shift-ord('a'))% 26 + ord('a'))
        else:
            #If the char is not alphabetic,keep it unchanged
            decoded_char =char
        # Add the decoded character to the decoded text
        decoded_text += decoded_char
     # Return the fully decoded text
    return decoded_text

print(caesar_cipher_decoder('pboryhri 2024!',3))

myloveof 2024!

In [73]:
#44. Find the most frequent word in a string.
import re
from collections import Counter

def most_frequent_word(string1):
    #Remove punctuations and convert to lower case
    clean_string = re.sub(r'[^\w\s]','',string1).lower()
    
    #spilt the string into words
    words =clean_string.split()
    
    #Use Counter to count word frequencies
    word_counter =Counter(words)
    
    #Find the most common word
    most_common_word =word_counter.most_common(1) [0] [0]
    
    return most_common_word

print(most_frequent_word("Hi there,! emma, are you here? how's your day? there is your bad"))

there

In [77]:
#45. Find all unique words in a string.
import re

def unique_words(string1):
    #remove punctuation and convert to lower case
    clean_string = re.sub(r'[^\w\s]','',string1).lower()
    
    #spilt the string into words and convert to set for uniquenss
    words =set(clean_string.split())
    return words

print(unique_words("Hi! My name is venkatesh, this is my book "))

{'venkatesh', 'my', 'hi', 'is', 'this', 'book', 'name'}

In [82]:
#46. Count the number of syllables in a string.
import re

def count_syllables(word):
    # count vowel grous using regular expression
    vowel_groups = re.findall(r'[aeiou]+',word,re.IGNORECASE)
    
    return len(vowel_groups)

print(count_syllables('Ravi'))
print(count_syllables('Raghu'))
print(count_syllables('venkatesh'))

2
2
3

In [94]:
#47. Check if a string contains any special characters.
import re
def contains_special_characters(string1):
    #Define a regular expression pattern to match specila characters
    pattern =re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    #use the search() method to find a match
    match = pattern.search(string1)
    
    #Return True if  a match is found, False otherwise                    
    return bool(match)
                        
                        
print(contains_special_characters("I love my country!`$$"))  
print(contains_special_characters("venkatehswarasingh@gmail.com"))

True
True

In [101]:
#48. Remove the nth word from a string
def remove_nth_word(string1,n):
    #spilt the string1  in to words
    words = string1.split()
    
    #check if n is with in a valid range
    if n>=1 and n<= len(words):
        #remove the nth word by exluding it from the words list
        removed_word = words.pop(n-1)
        
        #join the remaining word to form the modified stirng
        modified_string = ' '.join(words)
        return modified_string, removed_word
    else:
        return NOne, none
        
print(remove_nth_word("This is freedom to do what you love",7))

('This is freedom to do what love', 'you')

In [81]:
#49. Insert a word at the nth position in a string.
def insert_word(string, word, n):
    return string[:n]+ word +string[n:]





string = "pw skills is ed tech company"
n =15
word ="-"
print(insert_word(string, word, n))

pw skills is ed- tech company

In [ ]:
def insert_word_at_position(original_string, word_to_insert, position):
    return original_string[:position] + word_to_insert + original_string[position:]

# Example usage:
original_string = "Learning is fun."
word_to_insert = "ed tech"
position = 5

modified_string = insert_word_at_position(original_string, word_to_insert, position)
print(modified_string)

In [11]:
#50 Convert a CSV string to a list of lists
def csv_string_to_list(csv_string):
    lines =csv_string.split("\n")
    result =[]
    
    for line in lines:
        fields = line.split(",")
        result.append(fields)
    return result

csv_data = "Name, Age, Country\nJohn,25, USA\nAlice,30,Canada\nBOb,22,UK"
list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['John', '25', ' USA']
['Alice', '30', 'Canada']
['BOb', '22', 'UK']

In [2]:
#1. Create a list with integers from 1 to 10.
lst = [i for i in range(1,11)]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [10]:
#2. Find the length of a list without using the `len()` function.
list1=[1, 2, 3, 4, 5, 6, 7.8, 9, 10]

def find_Len(list1):
    count =0
    for i in list1:
        count+= 1
    return(count) 

print(find_Len([1, 2, 3, 4, 5, 6, 7.8, 9, 10]))

9

In [6]:
#3. Append an element to the end of a list
l = [1, 2, 3, 4, 5, 6, 7.8, 9, 10]
l.append('for')
print(l)

[1, 2, 3, 4, 5, 6, 7.8, 9, 10, 'for']

In [65]:
#4. Insert an element at a specific index in a list.
l = [1, 2, 3, 4, 5, 6, 7.8, 9, 10]
l.insert(3,'luv')
print(l)

[1, 2, 3, 'luv', 4, 5, 6, 7.8, 9, 10]

In [66]:
#5. Remove an element from a list by its value.
l = [1, 2, 3, 'luv', 4, 5, 6, 7.8, 9, 10]
l.remove('luv')
print(l)

[1, 2, 3, 4, 5, 6, 7.8, 9, 10]

In [72]:
#6. Remove an element from a list by its index.
l= [1, 2, 3, 4, 5, 6, 7.8, 9, 10]
l.pop(3)
print(l)

[1, 2, 3, 5, 6, 7.8, 9, 10]

In [11]:
#7. Check if an element exists in a list.
l = [1, 2, 3, 5, 6, 7.8, 9, 10]
if 7.8 in l:
    print('element exist')
else:
    print("element does not exist")

element exist

In [13]:
#8. Find the index of the first occurrence of an element in a list.
l1 = [1,2,3,4,2]
print(l1.index(2))

1

In [89]:
#9. Count the occurrences of an element in a list.
l1 = [1,2,3,4,2,3]
print(l1.count(3))

2

In [14]:
#10. Reverse the order of elements in a list.
l1 = [1, 2, 3, 4, 2, 3]
l1.reverse()
print(l1)

[3, 2, 4, 3, 2, 1]

In [15]:
#11. Sort a list in ascending order.
l1 = [1, 2, 3, 4, 2, 3]
l1.sort()
l1

[1, 2, 2, 3, 3, 4]

In [11]:
#12. Sort a list in descending order.
l1= [1, 2, 3, 4, 2, 3]
l1.sort(reverse = True)
l1

[4, 3, 3, 2, 2, 1]

In [14]:
#13. Create a list of even numbers from 1 to 20.
p = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
l1 =[]
for i in p:
    if i%2 ==0:
        l1.append(i)
print(l1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
#14. Create a list of odd numbers from 1 to 20.
l2 =[]
for i in p:
    if i%2 !=0:
        l2.append(i)
print(l2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [20]:
#15. Find the sum of all elements in a list.
l3= [1, 2, 3, 5, 6, 7, 9, 10]
lst =sum([i for i in l3])
lst

43

In [21]:
#16. Find the maximum value in a list.
l3= [1, 2, 3, 5, 6, 7, 9, 10]
l4=max(l3)
l4

10

In [22]:
#17. Find the minimum value in a list.
l3= [1, 2, 3, 5, 6, 7, 9, 10]
l5=min(l3)
l5

1

In [23]:
#18. Create a list of squares of numbers from 1 to 10.

lst =[i**2 for i in range(1,11)]
lst

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
#19. Create a list of random numbers.
import random
list1 = []
for i in range(9):
    list1.append(random.randint(0, 11))
print(list1)

[0, 1, 9, 5, 5, 0, 3, 6, 10]

In [37]:
#20 Remove duplicates from a list.
l5 = [1, 2, 3, 5, 6,6,9, 7, 9, 10]
l6 = set(l5)
print(l6)

{1, 2, 3, 5, 6, 7, 9, 10}

In [26]:
#21.Find the common elements between two lists.
l5 = [1, 2, 3, 5, 6,8, 6, 9, 7, 9, 10]
l2 =[2,4,8,10]
l7=[]

for i in l5:
    if i in l2:
        l7.append(i)
print(l7)

[2, 8, 10]

In [44]:
#22. Find the difference between two lists.
l5 = [1, 2, 3, 5, 6,8, 6, 9, 7, 9, 10]
l2 =[2,4,8,6,9]
l8=[]

for i in l5:
    if i not in  l2:
            l8.append(i)
print(l8)

[1, 3, 5, 7, 10]

In [45]:
#23. Merge two lists.
l5 = [1, 2, 3, 5, 6,8, 6, 9, 7, 9, 10]
l2 =[2,4,8]
l9 = l5 +l2
print (l9)

[1, 2, 3, 5, 6, 8, 6, 9, 7, 9, 10, 2, 4, 8]

In [132]:
# 24. Multiply all elements in a list by 2.
l3 = [1, 2, 3, 5, 6, 7, 9, 10]
list(map(lambda a: a*2,l3))

[2, 4, 6, 10, 12, 14, 18, 20]

In [27]:
#25 Filter out all even numbers from a list.
l3 = [1, 2, 3, 5, 6, 7, 9, 10]
list(filter(lambda a:a%2 ==0,l3))

[2, 6, 10]

In [28]:
#26. Convert a list of strings to a list of integers.
l =["10", "20", "30", "40", "50"]
l10 =[]
for i in l:
    i = int(i)
    l10.append(i)

l10

[10, 20, 30, 40, 50]

In [30]:
#27. Convert a list of integers to a list of strings.
l10  = [10, 20, 30, 40, 50]

l11 = []
for i in l10:
    i = str(i)
    l11.append(i)
l11

['10', '20', '30', '40', '50']

In [39]:
#28.Flatten a nested list.
nested_list =[[12,3,4,5],4,5,[1,2,3,4]]

def flatten_list(nested):
    flattend =[]
    for sublist in nested:
        if isinstance(sublist,list):
            flattend.extend(flatten_list(sublist))
        else :
            flattend.append(sublist)
    return flattend

print(flatten_list(nested_list))

[12, 3, 4, 5, 4, 5, 1, 2, 3, 4]

In [42]:
#29. Create a list of the first 10 Fibonacci numbers.
def Fibonacci_numbers(n):
    fibonacci_list = [0,1]
    
    for i in range(2,n):
        next_fibonacci = fibonacci_list[i-1]+fibonacci_list[i-2]
        fibonacci_list.append(next_fibonacci)
    return fibonacci_list
print('first 10 fibonacci numbers', Fibonacci_numbers(10))

first 10 fibonacci numbers [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [46]:
#30. Check if a list is sorted.
l2 = [1,3,2,4,26,76,8]

def is_sorted_list(l2):
    for i in range(1,len(l2)):
        if l2[i]< l2[i-1]:
            return False
    return True

print(is_sorted_list(l2))

False

In [48]:
#31. Rotate a list to the left by `n` positions.
#Function to rotate a list to the left by n positions
def Rotate_left(lst,n):
    n = n% len(lst) #Normalize n to handle cases where n is large than list length
    #print (n)
    rotated = lst[n:]+ lst[:n]
    return rotated
print(Rotate_left([1,2,3,4,5,6],2))

[3, 4, 5, 6, 1, 2]

In [49]:
#32. Rotate a list to the right by `n` positions.
#Function to ratate a list to the right by n positions
def Rotate_right(lst,n):
    n = n % len(lst) # normalize n to handle cases where n is large than list length
    #print(n)
    rotated = lst[-n:]+ lst[:-n]
    return rotated
print(Rotate_right([1,2,3,4,5,6],2))

[5, 6, 1, 2, 3, 4]

In [16]:
#33. Create a list of prime numbers up to 50.
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n %2 == 0 or n %3 == 0:
        return False
    i =5
    while i * i <= n:
        print(i,n)
        if n % i == 0 or n % (i+2) == 0:
            return False
        i +=6
    return True
#create a list of prime numbers up to 50
prime_numbers = [n  for n in range(2,50) if is_prime(n)]

print(prime_numbers)

5 25
5 29
5 31
5 35
5 37
5 41
5 43
5 47
5 49
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [50]:
#34. Split a list into chunks of size `n`.
l2 =[1, 3, 2, 4, 26, 76, 8]
s =0
end =len(l2)
n =3
for i in range(s,end, n):
    x = i
    print(l2[x:x+n])

[1, 3, 2]
[4, 26, 76]
[8]

In [11]:
#35. Find the second largest number in a list
list1 = [10,15,20,15,45,35]
#Remove duplicate and sort the list in ascending order
sorted_list = sorted(set(list1))
#Find the second largest number
if len(sorted_list)>=2:
    second_largest = sorted_list[-2]
    print('Second largest number: ',second_largest)
else:
    print('The list does not have enough elements')

Second largest number:  35

In [14]:
#36. Replace every element in a list with its square.
list1 = [10,15,20,15,45,35]
#Replace every element with its squar using a map:
square_list =list(map(lambda a: a**2,list1))
square_list

[100, 225, 400, 225, 2025, 1225]

In [16]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
list2= ['a','be','cat','doll']
#convert list to dictionry using dictionary comprehension
my_dict ={element:index for index, element in enumerate(list2)}
print(my_dict)

{'a': 0, 'be': 1, 'cat': 2, 'doll': 3}

In [17]:
#38. Shuffle the elements of a list randomly.
import random
lsit3 =[1,2,3,4,5]
#shuffle the list randomly
random.shuffle(lsit3)

print('shuffled lsit',lsit3)

shuffled lsit [3, 2, 1, 4, 5]

In [18]:
#39. Create a list of the first 10 factorial numbers.
def fact(n):
    if n == 0 or n==1:
        return 1
    else:
        return n*fact(n-1)
# create a list of the first 10 factorial numbers  using list comphrension
factorial_numbers =[fact(i) for i in range(10)]

print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [21]:
#40. Check if two lists have at least one element in common.
def has_common_element(list1,list2):
    for item in list1:
        if item in list2:
            return True

    return False
print(has_common_element([12,3,4,5],[5,6,7]))

True

In [23]:
#41. Remove all elements from a list.
lst1 =[1,2,3]
lst1.clear()
print(lst1)

[]

In [24]:
#42. Replace negative numbers in a list with 0
lst2 =[10, -5, 20, -15, 30, -25]
for i in range(len(lst2)):
    if lst2[i] < 0:
        lst2[i] = 0
print(lst2)

[10, 0, 20, 0, 30, 0]

In [51]:
#43. Convert a string into a list of words
s ="Hello! How's is your day?"
word_list =s.split(" ")
print(word_list)

['Hello!', "How's", 'is', 'your', 'day?']

In [53]:
#44. Convert a list of words into a string
word_list =['Hello!', "How's", 'is', 'your', 'day?']
string = " ".join(word_list)
print(string)

Hello! How's is your day?

In [34]:
#45. Create a list of the first n powers of 2.
n = 7
# Create a list of the first n powers of 2 using loop in list comprehsion
power_list =[2** i for i in range(n)]

print(power_list)

[1, 2, 4, 8, 16, 32, 64]

In [36]:
#46. Find the longest string in a list of strings.
string_list = ["apple", "banana", "cherry",'elderberry','date']

#Find the longest string in a list
longest_string = ""
for i in string_list:
    if len(i) > len(longest_string):
        longest_string = i

print(longest_string)

elderberry

In [40]:
#47. Find the shortest string in a list of strings.
string_list = ["apple", "banana", "cherry",'elderberry','date']

#Find the shortest string in a list
shortest_string = string_list[0]
for i in string_list:
    if len(i) < len(shortest_string):
        shortest_string = i

print(shortest_string)

date

In [42]:
#48. Create a list of the first n triangular numbers.
def triangular_numbers(n):
    return [ i *(i+1)//2 for i in range(1,n+1)]

#specify n value
n =7
print(triangular_numbers(7))

[1, 3, 6, 10, 15, 21, 28]

In [49]:
#49. Check if a list contains another list as a subsequence.
def is_subsequence(subsequence, main_list):
    subseq_index =0 #Index for the subsequesnce elements
    for i in main_list:
        if i == subsequence[subseq_index]:
            subseq_index +=1
            if subseq_index == len(subsequence):
                return True
    return False 
print(is_subsequence([4,5],[1,2,3,4,5,6]))

True

In [2]:
#50. Swap two elements in a list by their indices.
lst =[1,2,23,4,5]

# indices of elements to swap
index1 =1
index2 = 2
#swap the elements at the specified indices
temp = lst[index1]
lst[index1] = lst[index2]
lst[index2] = temp

print(lst)

[1, 23, 2, 4, 5]

In [ ]:
#tuple

In [1]:
#1. Create a tuple with integers from 1 to 5.
t = (1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [54]:
#2. Access the third element of a tuple.
t = (1,2,3,4,5)
t[2]

3

In [3]:
#3. Find the length of a tuple without using the `len()` function.
t = (1,2,3,4,5,7)
def find_Len(t):
    count =0
    for i in t:
        count+= 1
    return(count) 

print(find_Len(t))

6

In [16]:
#4. Count the occurrences of an element in a tuple.
t1 = (1,2,3,3,4,5)
t1.count(3)

2

In [57]:
#5. Find the index of the first occurrence of an element in a tuple.
t1 = (1,2,3,3,4,5)
t1.index(2)

1

In [58]:
#6. Check if an element exists in a tuple.
t1 = (1,2,3,3,4,5)
if 3 in t1:
    print(True)

True

In [27]:
#7. Convert a tuple to a list.
t1 = (1,2,3,3,4,5)
i =list(t1)
print(i)

[1, 2, 3, 3, 4, 5]

In [5]:
#8. Convert a list to a tuple.
l= [1, 2, 3, 3, 4, 5]
t1 =tuple(l)
print(t1)

(1, 2, 3, 3, 4, 5)

In [36]:
#9. Unpack the elements of a tuple into variables.
a,*b,f =(1, 2, 3, 3, 4, 5)
print(a)
print(b)
print(f)

1
[2, 3, 3, 4]
5

In [44]:
#10. Create a tuple of even numbers from 1 to 10.
for i in range(1,11):
    if i%2 ==0:
        print(i,end=",")

2,4,6,8,10,

In [45]:
#11. Create a tuple of odd numbers from 1 to 10.
i =1
n=10
while i <=n:
    if i%2 != 0:
        print(i)
    i +=1

1
3
5
7
9

In [60]:
#12. Concatenate two tuples.
t = (1,2,3,4,5)
t1 = (1,2,3,3,4,5)
t3 = t +t1
print(' the concatenate of t,t1:',t3)

 the concatenate of t,t1: (1, 2, 3, 4, 5, 1, 2, 3, 3, 4, 5)

In [61]:
#13. Repeat a tuple three times.
t3 =(1, 2, 3, 4, 5, 1, 2, 3, 3, 4, 5)
t4 = t3*3
print(t4)

(1, 2, 3, 4, 5, 1, 2, 3, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 3, 4, 5)

In [63]:
#14. Check if a tuple is empty.
t5 = ()
if i in t5:
    print("tuple is not empty")
else:
    print("tuple is empty")

tuple is empty

In [66]:
#15. Create a nested tuple.
nested_tuple = ((1, 2, 3), (3, 4, 5),(6,7))
nested_tuple

((1, 2, 3), (3, 4, 5), (6, 7))

In [67]:
#16. Access the first element of a nested tuple.
nested_tuple[0]

(1, 2, 3)

In [68]:
#17. Create a tuple with a single element.
t7 = (3,)
t7

(3,)

In [71]:
#18. Compare two tuples
tuple1 = (1, 2, 3, 3, 4, 5)
tuple2 = (1, 2, 3, (3, 4, 5), 6, 7)

for i in tuple1:
    if i in tuple2:
        print(True)
        
    else:
        print(False)

True
True
True
True
False
False

In [88]:
#18. Compare two tuples
t1 = (1, 2, 3, 3, 4, 5)
t6 = (1, 2, 3, (3, 4, 5), 6, 7)

if t1 ==t6:
    print(True)
    
else:
    print(False)

False

In [92]:
#19. Delete a tuple.
t7 =(1,2,3,4,5)
del t7

In [2]:
#20. Slice a tuple.
t6 =(1, 2, 3, (3, 4, 5), 6, 7)
t6[-1:-4:-1]

(7, 6, (3, 4, 5))

In [7]:
#21. Find the maximum value in a tuple.
t7 = (1, 2, 3, 6, 7)
print(max(t7))

7

In [8]:
#22. Find the minimum value in a tuple.
t7 = (1, 2, 3, 6, 7,0)
print(min(t7))

0

In [23]:
#23. Convert a string to a tuple of characters.
s = 'Hi!'
t7 =tuple(s)
print(t7)

('H', 'i', '!')

In [73]:
#24. Convert a tuple of characters to a string.
t7 = ('H', 'i', '!')
print(''.join(t7))

Hi!

In [41]:
#25. Create a tuple from multiple data types.
t8 =(1, 2,3,'venkatesh',[1,2,3],True,{'lovely', 'time peried'})
t8

(1, 2, 3, 'venkatesh', [1, 2, 3], True, {'lovely', 'time peried'})

In [45]:
#26. Check if two tuples are identical.
t6 =(1, 2, 3, (3, 4, 5), 6, 7)
t7 = ('H', 'i', '!')
if t6 == t7:
    print('tuples are identical')
else:
    print('tuples are not identical')

tuples are not identical

In [2]:
#27. Sort the elements of a tuple.
t9 = (1,2,4,3,7,4,5)
sorted_tuple = tuple(sorted(t9))
sorted_tuple

(1, 2, 3, 4, 4, 5, 7)

In [9]:
#28. Convert a tuple of integers to a tuple of strings.
t9_integers =(1, 2, 4, 3, 7, 4, 5)
t9_string = tuple(str(item) for item in t9_integers)
print(t9_string)

('1', '2', '4', '3', '7', '4', '5')

In [11]:
#29. Convert a tuple of strings to a tuple of integers.
t9_string =('1', '2', '4', '3', '7')
t9_integer = tuple(int(item) for item in t9_string)
print(t9_integer)

(1, 2, 4, 3, 7)

In [21]:
#30. Merge two tuples.
t9= (1, 2, 4, 3, 7, 4, 5)
t0 =(4,5,6,7,5)
t10 = t9+t0
print(t10)

(1, 2, 4, 3, 7, 4, 5, 4, 5, 6, 7, 5)

In [23]:
#31. Flatten a nested tuple.
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item,tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened 
# Step 1: Create a nested tuple
nested_tuple = (1, 2, 4, 3, 7,(1,2,3), 4, 5)
# Step 2: Flatten the nested tuple
flattened_tuple = tuple( flatten_tuple(nested_tuple))
                    
print(flattened_tuple)

(1, 2, 4, 3, 7, 1, 2, 3, 4, 5)

In [30]:
#32. Create a tuple of the first 5 prime numbers.
def is_prime(num):
    if num <=1:
        return False
    for i in range(2,int(num ** 0.5)+1):
        if num %i  == 0:
            return False
    return True

#Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2,100) if is_prime(num)][:5]

#typecasting list into tuple
prime_numbers_tuple = tuple(prime_numbers_list)

print(prime_numbers_tuple)

(2, 3, 5, 7, 11)

In [4]:
#33. Check if a tuple is a palindrome.
def is_palindrome(arr):
    left = 0
    right = len(arr)-1
    
    while (left < right):
        if arr[left] !=arr[right]:
            return False
        left +=1
        right -=1
    return True

arr1=[1,2,3,1,2,3]
arr2=[2]


print(is_palindrome([4,3,2,2,3,4]))
print(is_palindrome(arr1))
print(is_palindrome(arr2))

True
False
True

In [42]:
#34. Create a tuple of squares of numbers from 1 to 5.
square_tuple = tuple(x**2 for x in range(1,6))
print(square_tuple)

(1, 4, 9, 16, 25)

In [46]:
#35. Filter out all even numbers from a tuple.
t10 =(1, 2, 3, 4, 5)

filtered_tuple = tuple(i  for i in t10 if i%2 ==0)
print(filtered_tuple)

(2, 4)

In [52]:
#36. Multiply all elements in a tuple by 2.
t10 =(1, 2, 3, 4, 5)
multiplied_tup = tuple(map(lambda x :x *2 , t10))
print(multiplied_tup)

(2, 4, 6, 8, 10)

In [1]:
#37. Create a tuple of random numbers.
import random

random_tuple =tuple(random.randint(1,100) for _ in range(10)) # Generating 10 random numbers between 1 and 100

print(random_tuple)

(18, 59, 31, 30, 28, 13, 42, 54, 62, 60)

In [6]:
#38. Check if a tuple is sorted.
def isSorted(t):
    for i in range(len(t)-1):
        if t[i] > t[i+1]:
            return False
    return True
t =(5,4,3,2,1)
t1= (1, 2, 3, 4, 5)
print(isSorted(t))
print(isSorted(t1))

False
True

In [8]:
#39. Rotate a tuple to the left by n positions.
def rotate_tupleLeft(t,n):
    n = n%len(t) #to ensure n is with in the range of tuple
    rotated_tuple = t[n:]+t[:n] # to rotate the tuple
    return rotated_tuple
t1 =(5,4,3,32,1)
n= 2
print(rotate_tupleLeft(t1,n))

(3, 32, 1, 5, 4)

In [10]:
#40. Rotate a tuple to the right by n positions
def rotate_tupleRight(r,n):
    n =n %len(r) # to ensure n is with in the range of tuple
    rotated_right = r[-n:]+r[:-n]
    return rotated_right
t1 = (5,4,3,32,1)
n = 2
print(rotate_tupleRight(t1,2))

(32, 1, 5, 4, 3)

In [19]:
#41. Create a tuple of the first 5 Fibonacci numbers.
def fib(n):
    fib1 = [0,1] # Initailize the list with first 2 fib numbers
    while len(fib1) < n: # continue generating fib numbers until the list has n element
        next_number = fib1[-1]+fib1[-2] #calculate the next fibonacci number
        fib1.append(next_number) # Add the next fib number to list
    return tuple(fib1) # convert the list to a tuple and return it

fibTuple = fib(5) #Call the fib function to create a tuple of the first 5 Fibonacci numbers 
print(fibTuple)

(0, 1, 1, 2, 3)

In [21]:
# 42. Create a tuple from user input.
input_str = input('Enter elements separated by comma')
input_list = input_str.split(',')
tup= tuple(input_list)
print(tup)

Enter elements separated by comma H,a,n,u,ma,n

('H', 'a', 'n', 'u', 'ma', 'n')

In [6]:
#43. Swap two elements in a tuple.
original_tuple = (1, 2, 3, 4)
swapped_tuple = (original_tuple[1], original_tuple[0], original_tuple[2], original_tuple[3])

print("Original tuple:", original_tuple)
print("Swapped tuple:", swapped_tuple)

Original tuple: (1, 2, 3, 4)
Swapped tuple: (2, 1, 3, 4)

In [2]:
### 44. Reverse the elements of a tuple.
tp1 =(1,2,3,4,5)
reverse = tp1[::-1]
print(reverse)

(5, 4, 3, 2, 1)

In [4]:
#45. Create a tuple of the first n powers of 2.
n =5
# Create a tuple of the first n powers of 2 using list comprhension4
powerOf_2 = tuple(2** i for i in range(n))

print(powerOf_2)

(1, 2, 4, 8, 16)

In [7]:
### 46. Find the longest string in a tuple of strings.
tuple1 = ("apple", "banana",'date', 'watermelon')

longest_string = max(tuple1, key =len)

print(longest_string)

watermelon

In [8]:
#47. Find the shortest string in a tuple of strings.
tuple1 = ("apple", "banana",'date', 'watermelon')

shortest_string = min(tuple1, key =len)

print(shortest_string)

date

In [9]:
### 48. Create a tuple of the first `n` triangular numbers.
n =5
# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers = tuple((i*(i+1)//2 for i in range(1,n+1)))

print(triangular_numbers)

(1, 3, 6, 10, 15)

In [68]:
#49. Check if a tuple contains another tuple as a subsequence.
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple)-sub_length+1):
        if main_tuple[i:i+sub_length]== sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [15]:
### 50. Create a tuple of alternating 1s and 0s of length `n`.
n =11
# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple( i%2 for i in range(n))

print(alternating_tuple)

(0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

In [67]:
#TOPIC :SETS
#1. Create a set with integers from 1 to 5.
s0 =set()

s0.add(1)
s0.add(2)
s0.add(3)
s0.add(4)
s0.add(5)
s0.add(6)
print(s0)

{1, 2, 3, 4, 5, 6}

In [35]:
#2. Add an element to a set.
s0 ={1, 2, 3, 4, 5}
s0.add(6)
s0

{1, 2, 3, 4, 5, 6}

In [38]:
#3. Remove an element from a set.
s0 ={1, 2, 3, 4, 5, 6}
s0.remove(6)
s0

{1, 2, 3, 4, 5}

In [64]:
#4. Check if an element exists in a set.
s0 = {1, 2, 3, 4, 5}
element_to_check = int(input("Enter the element to check: "))
if element_to_check in s0:
    print(True)
else:
    print(False)

Enter the element to check:  5

True

In [25]:
#5. Find the length of a set without using the `len()` function.
s0 ={1, 2, 3, 4, 5,6}
count = 0
for i in s0:
    count+=1
print(count)

6

In [47]:
#6. Clear all elements from a set.
s0 ={1, 2, 3, 4, 5}
s0.clear()
s0

set()

In [2]:
#7. Create a set of even numbers from 1 to 10.
s={1,2,3,4,5,6,7,8,9,10}
l1 =[]
for i in s:
    if i%2 ==0:
        l1.append(i)
s1 = set(l1)
s1

{2, 4, 6, 8, 10}

In [63]:
s={1,2,3,4,5,6,7,8,9,10}
even_set = set()
for num in s:
    if num%2 ==0:
        even_set.add(num)

print(even_set)

{2, 4, 6, 8, 10}

In [3]:
#8. Create a set of odd numbers from 1 to 10.
s={1,2,3,4,5,6,7,8,9,10}
l2 =[]
for i in s:
    if i%2 !=0:
        l2.append(i)
s2 = set(l2)
s2

{1, 3, 5, 7, 9}

In [62]:
s={1,2,3,4,5,6,7,8,9,10}
odd_set = set()
for num in s:
    if num%2 !=0:
        odd_set.add(num)

print(odd_set)

{1, 3, 5, 7, 9}

In [9]:
#9. Find the union of two sets.
s1 = {2, 4, 6, 8, 10}
s2 ={1, 3, 5, 7, 9}

print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [19]:
# 10. Find the intersection of two sets.
s1 = {2, 4, 6, 8, 10}
s2 ={1, 3, 5, 7, 8,9}
print(s1.intersection(s2))

{8}

In [20]:
#11. Find the difference between two sets.
s1 = {2, 4, 6, 8, 10}
s2 ={1, 3, 5, 7, 8,9}
print(s1.difference(s2))
print(s2.difference(s1))

{2, 10, 4, 6}
{1, 3, 5, 7, 9}

In [61]:
#12. Check if a set is a subset of another set.
s1 = {2, 4, 6, 1,2,3,8, 10}
s3 = {1,2,3}

print(s3.issubset(s1))
print(s1.issubset(s3))

True
False

In [60]:
#13. Check if a set is a superset of another set.
s1 = {2, 4, 6,1,3,8, 10}
s3 = {1,2,3,4}
print(s3.issuperset(s1))
print(s1.issuperset(s3))

False
True

In [41]:
#14. Create a set from a list.
l1 =[1,2,3]
s4 = set(l1)
s4

{1, 2, 3}

In [45]:
#15. Convert a set to a list.
s4 ={1, 2, 3}
l2 = list(s4)
l2

[1, 2, 3]

In [58]:
#16. Remove a random element from a set.

import random
s4 = {1, 2, 4, 5}
random_remove = random.choice(list(s4))
s4.remove(random_remove)
print(random_remove,s4)

1 {2, 4, 5}

In [54]:
#17. Pop an element from a set.
s4 ={5,1,42,3,4}
print(s4.pop())
print(s4.pop())
print(s4.pop())

s4

1
3
4

{5, 42}

In [48]:
#18. Check if two sets have no elements in common.
s4 ={1,2,3,4}
s5= {5}
print(s4.isdisjoint(s5))

True

In [79]:
#19. Find the symmetric difference between two sets.
s4 ={1,2,3,4}
s5= {3,4,5}
print(s4.symmetric_difference(s5))

{1, 2, 5}

In [47]:
#20. Update a set with elements from another set.
s4 ={1,2,3,4}
s5= {3,4,5,6}
(s4.update(s5))
print(s4)

{1, 2, 3, 4, 5, 6}

In [32]:
#21. Create a set of the first 5 prime numbers.
# check if number is prime 
def is_prime(n):
    if n <=1:
        return False
    for i in range(2, int(n **0.5)+1):
        if n % i == 0:
            return False
    return True
# Create an empty set to store the prime numbers
prime_set = set()
# Initialize the number to start checking for primes
n =2
# Loop until we have found the first 5 prime numbers

while len(prime_set) <5:
    if is_prime(n):
        prime_set.add(n)
    n += 1    
    
print(prime_set)

{2, 3, 5, 7, 11}

In [43]:
#22. Check if two sets are identical.
s3 ={1,2,3,4,5}
s4 = {1,2,3,4,6}
if s3.symmetric_difference(s4) == s4.symmetric_difference(s3):
    print(True)
else:
    print(False)

True

In [40]:
#23. Create a frozen set.
ele = [1,2,3,42,4,5,3]
frozen_set = frozenset(ele)
print(frozen_set)

frozenset({1, 2, 3, 4, 5, 42})

In [36]:
#24. Check if a set is disjoint with another set.
s3 = {7,3}
s6 = {1, 2, 3, 4,5,6}
 #The `isdisjoint()` method returns True if the sets have no common elements,
if s3.isdisjoint(s6):
    print(True)
else:
    print(False)

False

In [36]:
#25. Create a set of squares of numbers from 1 to 5.
square_set = set()
for n in range(1,6):
    square = n **2
    square_set.add(square)

print(square_set)

{1, 4, 9, 16, 25}

In [25]:
#26. Filter out all even numbers from a set.
s6 ={1, 2, 3, 4, 5, 6}
l6 = list(s6)
l7 =[]
for i in l6:
    if i%2 ==0:
        l7.append(i)
l7 
s7 = set(l7)
s7

{2, 4, 6}

In [32]:
#26. Filter out all even numbers from a set.
set1 = {1, 2, 3, 4, 5, 6,7}
even_num = set()
for num in set1:
    if num %2 == 0:
        even_num.add(num)
print(even_num)

{2, 4, 6}

In [27]:
#27. Multiply all elements in a set by 2.
s6 ={1, 2, 3, 4, 5, 6}
for i in s6:
    print(i*2)

2
4
6
8
10
12

In [31]:
set1 ={1, 2, 3, 4, 5, 6}
set2 = set(map(lambda x : x*2 , set1))
set2

{2, 4, 6, 8, 10, 12}

In [23]:
#28. Create a set of random numbers.
import random
#input the no.of random numbers you want in the set
num_random_numbers =7
# create an empty set to store the random numbers
random_set = set()

for i in range(num_random_numbers):
    #generate a random intger using the 'randint' function from 'random' module
    random_num = random.randint(1,100) # Generate a random number between 1 and 100
    #Add the random number to the set
    random_set.add(random_num)

print(random_set)

{42, 45, 48, 52, 91, 28}

In [31]:
#29. Check if a set is empty.
s3 ={"Love"}
if s3 =={}:
    print(True)
else:
    print(False)

False

In [21]:
#30. Create a nested set (hint: use frozenset).
set3 ={1,2,3,'s8',5}
set1={ 1,56,57}
#create frozenset from the inner sets
frozen_set1 = frozenset(set1)
frozen_set3 = frozenset(set3)
nested_set = {frozen_set1,frozen_set3}
print(nested_set)

{frozenset({56, 1, 57}), frozenset({1, 2, 3, 5, 's8'})}

In [51]:
#31. Remove an element from a set using the discard method.
s6 = {1, 2, 3, 4, 5, 6}
s6.discard(2)
s6

{1, 3, 4, 5, 6}

In [29]:
#32. Compare two sets
s4 = {1, 2, 3, 4}
s6 = {1, 4, 5, 6}
print(s6.difference(s4))
print(s4.difference(s6))
print(s4.intersection(s6))

{5, 6}
{2, 3}
{1, 4}

In [68]:
#33. Create a set from a string.
str1 = 'Lovely friend'
set4 = set(str1)
set4

{' ', 'L', 'd', 'e', 'f', 'i', 'l', 'n', 'o', 'r', 'v', 'y'}

In [12]:
#34 Convert a set of strings to a set of integers.
s5 ={'156', '25','143', '47'}
#Initalize an empty set to store integers
integer_set =set()
# iterate each string the set
for item in s5:
    integer = int(item)
    integer_set.add(integer)
print(integer_set)

{25, 156, 47, 143}

In [15]:
#35. Convert a set of integers to a set of strings.
interger_set ={25, 156, 47, 143}
string_set = set()
for item in interger_set:
    string = str(item)
    string_set.add(string)
print(string_set)

{'47', '25', '156', '143'}

In [26]:
#36. Create a set from a tuple.
tuple1 =(1,'average',2,'bull',2)
set0 = set(tuple1)
set0

{1, 2, 'average', 'bull'}

In [89]:
#37. Convert a set to a tuple
set0 ={1, 2, 'average', 'bull'}
tuple0 = tuple(set0)
tuple0

(1, 2, 'bull', 'average')

In [96]:
#38. Find the maximum value in a set.
s4 = {1, 2, 3, 4}
print(max(s4))

4

In [98]:
#39. Find the minimum value in a set.
s4 = {1, 2, 3, 4}
print(min(s4))

1

In [25]:
#40. Create a set from user input.
user_input =input("enter the name")
user_set = set(user_input.split(","))

enter the name venkatehs, love, 1,2m3

In [22]:
#41. Check if the intersection of two sets is empty.
s3 ={5,6}
s6 = {1, 4,6}
if s3.intersection(s6):
    print(True)
else:
    print(False)

True

In [21]:
#42. Create a set of the first 5 Fibonacci numbers.

def fibonacci(n):
    fibonacci_Set = set()
    a = 0
    b = 1
    if n < 0:
        print('incorrect input')
    elif n== 0 :
        return a
    elif n == 1:
        return b
    else:
        for i in range(2,n):
            c = a + b
            fibonacci_Set.add(a)
            
            a = b
            b = c
            
        return fibonacci_Set
 
print (fibonacci(9))

{0, 1, 2, 3, 5, 8}

In [26]:
#43. Remove duplicates from a list using sets.
list1 = [1,2,3,4,5,5,6,7,7]
set7 =set(list1)
set7

{1, 2, 3, 4, 5, 6, 7}

In [14]:
#44. Check if two sets have the same elements, regardless of their count.

def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 4, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets do not have the same elements.

In [16]:
#45. Create a set of the first `n` powers of 2.
def powers_of_2(n):
    set1= set()
    for i in range(n):
        power = 2 **i
        set1.add(power)
    return set1

n= 6
power_set = powers_of_2(n)

print(power_set)

{32, 1, 2, 4, 8, 16}

In [49]:
#46. Find the common elements between a set and a list.
list1 = [1,2,3,4,5,5,6,7,7,8]
set7 = {1, 2, 3, 4, 5, 6, 7,9}
set2 = set(list1)
print(set2.intersection(set7))

{1, 2, 3, 4, 5, 6, 7}

In [7]:
#47. Create a set of the first `n` triangular numbers.
def triangular_numbers(n):
    t_n = set()
    for i in range(1,n+1):
        t_number =i*(i+1)//2 # calcualate the i the trangular number using  triangle formaula
        t_n.add(t_number)
    return t_n

n = int(input('enter the value of n:'))
print(triangular_numbers(n))

enter the value of n: 7

{1, 3, 6, 10, 15, 21, 28}

In [57]:
#48. Check if a set contains another set as a subset.
set7 ={1, 2, 3, 4, 5, 6, 7, 9,45,67}
s6 ={45,67}
print(s6.issubset(set7))

True

In [4]:
#49. Create a set of alternating 1s and 0s of length `n`.
def alternate_set(n):
    alternating_set = set()
    for i in range(n):
        if i%2 == 0:
            alternating_set.add(1) # add 1 if i is even
        else:
            alternating_set.add(0)
    return alternating_set
print(alternate_set(9))

{0, 1}

In [2]:
#50. Merge multiple sets into one.
set3 ={1, 2, 3, 4, 5, 6, 7, 9}
s6 ={45,67}
s1 = {41,23}
print(set().union(s6,s1,set3))

{1, 2, 67, 3, 4, 5, 6, 7, 41, 9, 45, 23}